<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>

<div class="sidenav">
    <a href="/upload_document/"><img src="{% static '/upload_button.png' %}" style="width:140px;height:95px;padding-bottom:18px;"></a>
    <div class="btn-group">
    <a class="button" href="/view_document/">Uploaded Documents</a>
    <a class="button" href="">Sensitivity Review</a>
    <a class="button" href="">Document Analytics</a>
    <a class="button" href="">Corpus Analytics</a>
    </div>
</div>

<div class="main">
    <h1>View Document</h1>
    <h2>{{ docname }}</h2>
    <div class="doc-analyse-link"><i class="material-icons" style="font-size:15px;">data_exploration</i><a href="/document_analytics/{{docid}}">Analyse</a></div>
    <div class="tooltip">

    {% for index, abstract in indexed %}

    <div style="display:inline">
        {{ index|linebreaksbr }}
        <span class="tooltiptext">{{ abstract }}</span>
    </div>


    {% endfor %}
    </div>
</div>

</body>
</html>
