<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
</head>
<body>


<div class="sidenav">
        <div onclick="history.back()" style="width: 60%; margin: 0px auto; padding-top: 15px;">
        <div style="background-color: #4c0052; border-radius: 10px;">
            <i class="material-icons" style="font-size:100px; color: white">arrow_back</i>
            </div>
        </div>
    <div class="btn-group">
        <a class="button" href="/home/">Homepage</a>
        <a class="button" href="/upload_document/">Upload Documents</a>
        <a class="button" href="/view_document/">View Documents</a>
        <a class="button" href="/corpus_analytics">Corpus Analytics</a>
    </div>
</div>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>


<div class="main">
    <div class="split left">
    <h1>View Document</h1>
    <h2>{{ docname }}</h2>
    <a class="doc-analyse-link" href="/delete_document/{{docid}}" onclick="return confirm('Are you sure?')">
        <button class="document-button" >
        <i class="material-icons" style="font-size:15px;">delete</i>Delete Document
            </button>
    </a>

    <div class="tooltip">

    {% for index, abstract, color, instid in indexed %}
        {% if color == 0  %}
        <div style="display:inline">
            {{ index|linebreaksbr }}
            <span class="tooltiptext">{{ abstract }}</span>
        </div>
        {% elif color == 1  %}
        <div class="sensitivity1">
            <span onclick="window.location='/view_document/{{docid}}/{{instid}}'">{{ index|linebreaksbr }}</span>
            <span class="tooltiptext" style="background-color: #255c00" href="aaaa"><h3>Low Sensitivity Risk</h3>{{ abstract }}</span>
        </div>
        {% elif color == 2  %}
        <div class="sensitivity2">
            <span onclick="window.location='/view_document/{{docid}}/{{instid}}'">{{ index|linebreaksbr }}</span>
            <span class="tooltiptext" style="background-color: #825500"><h3>Moderate Sensitivity Risk</h3>{{ abstract }}</span>
        </div>
        {% elif color == 3  %}
        <div class="sensitivity3">
            <span onclick="window.location='/view_document/{{docid}}/{{instid}}'">{{ index|linebreaksbr }}</span>
            <span class="tooltiptext" style="background-color: #b50000"><h3>High Sensitivity Risk</h3>{{ abstract }}</span>
        </div>
        {% endif %}


    {% endfor %}

    </div>

    </div>

    <div class="split right" style="position: fixed; padding-top: 200px;">
        <img src="data:image/png;base64, {{chart}}" alt="" id="img" style="padding-left: 50px;"><br>
        <div style="padding-left: 60px;">
        {% if ent_name %}
            <h3 >Documents containing {{ent_name}} entity:</h3>
        {% endif %}
        <table style="border-collapse: collapse;">

        {% for docid, docname in similar_docs %}
            <tr style="border-bottom: 1pt solid #DFDFDF;">
            <td>{{ docname }}</td>
            <td style="padding-left: 70px;"><i class="material-icons" style="font-size:15px">search</i><a href="/view_document/{{docid}}">View</a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </div>
</div>

</body>
</html>
