<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
    <a class="title" href="">Sensitivity Detection Tool</a>
    <a href="/home">Home</a>
    <a class="active" href="/view_document/">Documents</a>
    <a href="/view_entity">Entities</a>
    <a href="">Analytics</a>
    <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
</div>


<div class="main">
    <h1>View Document</h1>
    <div class="wrapper" style="width: 50%; float: left; padding-top: 30px; ">
        <h2 style="margin-left: 40px; display: inline;">{{doc.filetitle}}</h2>

        <a href="/delete_document/{{document.documentID}}" style="float:right; margin-right: 75px;" onclick="return confirm('Are you sure?')">
            <button class="document-button-icon" style="font-size: 16px; border-radius: 7.5px; padding-bottom: 5px;">
                Delete Document<i class="material-icons" style="font-size:15px; padding-left: 5px;">delete</i>
            </button>
        </a>


        <div class="tooltip">
            {% for index, abstract, color, entid in indexed %}
            {% if color == 0  %}
            <div style="display:inline">
                {{ index|linebreaksbr }}
                <span class="tooltiptext">{{ abstract }}</span>
            </div>
            {% elif color == 1  %}
            <div class="sensitivity1">
                <span onclick="window.location.href='/view_entity/{{entid.slug}}'">{{ index|linebreaksbr }}</span>
                <span class="tooltiptext" style="background-image: linear-gradient(to bottom, #255c00, #41a838);" href="aaaa"><h3>Low Sensitivity Risk</h3>{{ abstract }}</span>
            </div>
            {% elif color == 2  %}
            <div class="sensitivity2">
                <span onclick="window.location.href='/view_entity/{{entid.slug}}'">{{ index|linebreaksbr }}</span>
                <span class="tooltiptext" style="background-image: linear-gradient(to bottom, #825500, orange);"><h3>Moderate Sensitivity Risk</h3>{{ abstract }}</span>
            </div>
            {% elif color == 3  %}
            <div class="sensitivity3">
                <span onclick="window.location.href='/view_entity/{{entid.slug}}'">{{ index|linebreaksbr }}</span>
                <span class="tooltiptext" style="background-image: linear-gradient(to bottom, #b50000, #de4c45);"><h3>High Sensitivity Risk</h3>{{ abstract }}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="wrapper" style="width: 35%; float: right; padding: 20px 20px 20px 20px; position: fixed; right: 150px">
        <canvas id="barChart" style="width: 500px; max-height: 250px;"></canvas>

        <script>
        var xValues = {{fig_ents|safe}};
        var yValues = {{fig_freqs|safe}};
        var barColors = {{color|safe}};

        new Chart("barChart", {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues,
            }],
          },
          options: {
            responsive: true,
            title: {
            display: true,
            text: 'Entity Frequency'
            },
            legend: {
                display: false
            },
            scales: {
              xAxes: [{
                display: true,
                  ticks: {
                    beginAtZero: true
                  }
              }]
            }
          }
        });
        </script>

        <canvas id="pieChart" style="max-height: 250px;"></canvas>
        <script>
        var xValues = {{color_keys|safe}};
        var yValues = {{color_freqs|safe}};
        var barColors = {{color_vals|safe}};

        new Chart("pieChart", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            responsive: false,
            title: {
              display: true,
              text: "Entity Sensitivity Distribution"
            }
          }
        });
        </script>


    </div>


</div>

</body>
</html>
