<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
    <a class="title" href="">Sensitivity Detection Tool</a>
    <a href="/home">Home</a>
    <a href="/view_document/">Documents</a>
    <a class="active" href="/view_entity">Entities</a>
    <a href="/corpus_analytics/">Analytics</a>
    <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
</div>


<div class="main">
    <h1>View Entity</h1>
    <div class="wrapper" style="width: 50%; float: left; padding: 20px 0px 20px 0px; height: 70%">
        <h2 style="margin-left: 40px; display: inline;">{{ent.text}}</h2>

        <a href="/delete_entity/{{ent.slug}}" style="float:right; margin-right: 75px;" onclick="return confirm('Are you sure?')">
            <button class="document-button-icon" style="font-size: 16px; border-radius: 7.5px; padding-bottom: 5px;">
                Delete Entity<i class="material-icons" style="font-size:15px; padding-left: 5px;">delete</i>
            </button>
        </a>


        <div class="tooltip">
            <div style="font-weight: bold; display: inline;">Sensitivity Prediction:</div>
            {% if ent.sensitivity == 1  %}
            <div class="sensitivity1" style="text-align: center;">
                Low Sensitivity
            </div>
            {% elif ent.sensitivity == 2  %}
            <div class="sensitivity2" style="text-align: center">
                Moderate Sensitivity
            </div>
            {% elif ent.sensitivity == 3  %}
            <div class="sensitivity3" style="text-align: center">
                High Sensitivity
            </div>
            {% endif %}
            <br><br>
            <!-- USER STUDY -->

            {{ent.abstract}}


        </div>

    </div>

    <div class="wrapper" style="width: 45%; float: right; padding: 20px 0px 20px 0px; position: relative; right: 0px; height: 70%;">
        <h2 style="margin-left: 40px; display: inline;">Related Documents:</h2>
        <div class="tooltip" style="margin-left: 40px; padding: 10px 0px 0px 0px; max-height: 90%; overflow: auto;">
            <table style="width: 100%; border-collapse: collapse;">
                {% for ent_doc in ent_docs %}
                <tr style="border-radius: 5px; border-top: 1pt solid #DFDFDF;">
                    <td>
                        <div onclick="window.location.href='/view_document/{{ent_doc.documentID}}/'" style="padding: 0px 2px 0px 2px;">{{ent_doc.filetitle}}</div>
                    </td>

                    <td style="float:right; padding-right: 0px;">
                    <a href="/delete_document/{{ent_doc.documentID}}/" onclick="return confirm('Are you sure?')">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">delete</i>
                        </button>
                    </a>
                    </td>

                    <td style="float:right;">
                    <a href="/view_document/{{ent_doc.documentID}}/">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">search</i>
                        </button>
                    </a>
                    </td>

                </tr>

                {% endfor %}
            </table>

        </div>
    </div>


</div>

</body>
</html>
