<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
<a>Sensitivity Detection Tool</a>
</div>

<div class="sidenav">
<button style="padding-left:20px;"><img src="{% static '/upload_button.png' %}" style="width:140px;height:95px;"></button>
</div>

<div class="main">
<p>Tool for helping identify entities</p>
</div>

</body>
</html>
