<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>

<div class="sidenav">
    <a href="/upload_document/"><img src="{% static '/upload_button.png' %}" style="width:140px;height:95px;"></a>
    {% for document in documents %}
        <a href="/view_document/{{document.documentID}}">{{ document.filename }}</a>
    {% endfor %}
</div>

<div class="main">
<h1>Tool for helping identify entities</h1>

</div>

</body>
</html>
