<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
    <script>
    function docSearch() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("docInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("docTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
</head>
<body>
    <div class="topnav">
        <a class="title" href="">Sensitivity Detection Tool</a>
        <a href="/home">Home</a>
        <a class="active" href="/view_document/">Documents</a>
        <a href="/view_entity">Entities</a>
        <a href="/corpus_analytics/">Analytics</a>

        <a style="width:200px; margin-left: 120px;" href="/user_study/"><div style="border-radius: 10px; background-image: linear-gradient(to top, #7b8fb0, #7b8fb0); padding: 2px 0px 2px 0px;">User Study</div></a>

        <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
    </div>

    <div class="main">
        <h1 style="display: inline;">View Documents</h1>
        <!-- USER STUDY -->
        <input class="search" type="text" id="docInput" onkeyup="docSearch()" placeholder="Search documents...">


        <div class="wrapper" style="margin-top: 10px;">
        <table id="docTable" style="border-collapse: collapse; width: 100%; table-layout: fixed;">
            <tr class="list-header">
                <th style="padding-left: 10px; width: 200px;">Filename</th>
                <th style="width: 735px;">Key Entities</th>
            </tr>

            {% for document,top_entities in documents %}
                <tr style="border-top: 1pt solid #DFDFDF; margin-bottom: 30px;">
                    <td style="padding-right: 0px; border-radius: 5px 0px 0px 5px; padding-left: 10px; font-weight: 600;">{{ document.filetitle }}</td>

                    <td nowrap="nowrap" style="overflow: hidden; padding-right: 100px; -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);">
                        {% for entity, ent_url in top_entities %}
                            {% if entity.sensitivity == 0  %}
                            <div>
                                {{entity.text}}
                            </div>
                            {% else %}
                                <div style="border-radius: 7.5px; background-color: #dbdbdb; display: inline; padding: 0px 2px 0px 2px;" style="">
                                      {{entity.text}}
                                </div>
                            {% endif %}
                            
                            {% comment %}
                            <!--
                            {% elif entity.sensitivity == 1  %}
                            <div style="margin-right: 5px;" class="sensitivity1">
                                {{entity.text}}
                            </div>
                            {% elif entity.sensitivity == 2  %}
                            <div style="margin-right: 5px;" class="sensitivity2">
                                  {{entity.text}}
                            </div>
                            {% elif entity.sensitivity == 3  %}
                            <div style="margin-right: 5px;" class="sensitivity3">
                                {{entity.text}}
                            </div>
                            {% endif %}
                            -->
                            {% endcomment %}
                        {% endfor %}
                    </td>

                    <td>
                    <td style="float:right; padding-right: 60px;">
                    <a href="/delete_document/{{document.documentID}}" onclick="return confirm('Are you sure?')">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">delete</i>
                        </button>
                    </a>
                    </td>

                    <td style="float:right;">
                    <a href="/view_document/{{document.documentID}}">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">search</i>
                        </button>
                    </a>
                    </td>

                </tr>


            {% endfor %}
        </table>
        </div>
    </div>

</body>
</html>
