<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
</head>
<body>



<div class="sidenav">
        <div onclick="history.back()" style="width: 60%; margin: 0px auto; padding-top: 15px;">
        <div style="background-color: #4c0052; border-radius: 10px;">
            <i class="material-icons" style="font-size:100px; color: white">arrow_back</i>
            </div>
        </div>
    <div class="btn-group">
        <a class="button" href="/home/">Homepage</a>
        <a class="button" href="/upload_document/">Upload Documents</a>
        <a class="button" href="/view_document/">View Documents</a>
        <a class="button" href="/corpus_analytics">Corpus Analytics</a>
    </div>
</div>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>

<div class="main">
    <h1>Uploaded Documents</h1>
    <table style="border-collapse: collapse; ">

    {% for document,top_entities in documents %}
        <tr style="border-bottom: 1pt solid #DFDFDF;">
            <td style="padding-right: 50px;">{{ document.filetitle }}</td>


            <td>
                {% for entity, ent_url in top_entities %}
                    {% if entity.sensitivity == 0  %}
                    <div>
                        {{entity.text}}
                    </div>
                    {% elif entity.sensitivity == 1  %}
                    <div class="sensitivity1" onclick="window.location='/view_entity/{{ent_url}}'">
                        {{entity.text}}
                    </div>
                    {% elif entity.sensitivity == 2  %}
                    <div class="sensitivity2"  onclick="window.location='/view_entity/{{ent_url}}'">
                          {{entity.text}}
                    </div>
                    {% elif entity.sensitivity == 3  %}
                    <div class="sensitivity3"  onclick="window.location='/view_entity/{{ent_url}}'">
                        {{entity.text}}
                    </div>
                    {% endif %}
                    <div style="padding-right: 5px; display: inline;"></div>
                {% endfor %}
            </td>


            <td>
            <a href="/view_document/{{document.documentID}}">
                <button class="document-button-icon">
                    <i class="material-icons" style="font-size:15px;">search</i>
                </button>
            </a>
            </td>

            <td>
            <a href="/delete_document/{{document.documentID}}" onclick="return confirm('Are you sure?')">
                <button class="document-button-icon">
                    <i class="material-icons" style="font-size:15px;">delete</i>
                </button>
            </a>
            </td>

        </tr>
    {% endfor %}
    </table>
</div>

</body>
</html>
