<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
    <script>
    function entSearch() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("entInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("entTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
</head>
<body>
    <div class="topnav">
        <a class="title" href="">Sensitivity Detection Tool</a>
        <a href="/home">Home</a>
        <a href="/view_document/">Documents</a>
        <a class="active">Entities</a>
        <a href="/corpus_analytics/">Analytics</a>

        <a style="width:200px; margin-left: 120px;" href="/user_study/"><div style="border-radius: 10px; background-image: linear-gradient(to top, #7b8fb0, #7b8fb0); padding: 2px 0px 2px 0px;">User Study</div></a>

        <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
    </div>

    <div class="main">

        <h1 style="display: inline;">View Entities</h1>
        <!--
        <input class="search" type="text" id="entInput" onkeyup="entSearch()" placeholder="Search entities...">
        -->

        <div class="wrapper" style="margin-top: 10px;">
        <table id="entTable" style="border-collapse: collapse; width: 100%; table-layout: fixed; border-spacing: 0px 10px;">

            <tr class="list-header">
                <th style="padding-left: 10px; width: 150px;">Entity</th>
                <th style="width: 685px;">Related Documents</th>
                <th>Sensitivity</th>
            </tr>

            {% for entity,ent_docs in entities %}
                <tr style="border-top: 1pt solid #DFDFDF;">
                    <td style="padding-right: 10px; border-radius: 5px 0px 0px 5px; padding-left: 10px; font-weight: 600;">{{ entity.text }}</td>

                    <td nowrap="nowrap" style="overflow: hidden; padding-right: 100px; -webkit-mask-image: linear-gradient(90deg, #000 70%, transparent)">
                        {% for ent_doc in ent_docs %}
                            <div onclick="window.location.href='/view_document/{{ent_doc.documentID}}/'" style="border-radius: 7.5px; background-color: #dbdbdb; display: inline; padding: 0px 2px 0px 2px;">{{ent_doc.filetitle}}</div>
                        {% endfor %}
                    </td>



                    <td style="text-align: center;">
                    {% if entity.sensitivity == 1  %}
                        <div class="sensitivity1">
                            Low Sensitivity
                        </div>
                    {% elif entity.sensitivity == 2  %}
                        <div class="sensitivity2">
                            Moderate Sensitivity
                        </div>
                    {% elif entity.sensitivity == 3  %}
                        <div class="sensitivity3">
                            High Sensitivity
                        </div>
                    {% endif %}
                    </td>

                    <td style="float:right; padding-right: 60px;">
                    <a href="/delete_entity/{{entity.slug}}/" onclick="return confirm('Are you sure?')">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">delete</i>
                        </button>
                    </a>
                    </td>

                    <td style="float:right;">
                    <a href="/view_entity/{{entity.slug}}/">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">search</i>
                        </button>
                    </a>
                    </td>



                </tr>

            {% endfor %}
        </table>
        </div>
    </div>

</body>
</html>
