<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
</head>
<bod>
    <div class="topnav">
        <a class="title" href="">Sensitivity Detection Tool</a>
        <a href="/home">Home</a>
        <a class="active" href="/view_document/">Documents</a>
        <a href="">Entities</a>
        <a href="">Analytics</a>
        <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
    </div>

    <div class="main">
        <h1>Uploaded Documents</h1>
        <div class="wrapper">
        <table style="border-collapse: collapse; width: 100%">
            <tr class="list-header">
                <td style="padding-left: 10px;">Filename</td>
                <td>Key Entities</td>
            </tr>

            {% for document,top_entities in documents %}
                <tr style="border-top: 1pt solid #DFDFDF; margin-bottom: 30px;">
                    <td style="padding-right: 0px; border-radius: 5px 0px 0px 5px; padding-left: 10px; font-weight: 600;">{{ document.filetitle }}</td>

                    <td class="three-ents" style="margin-right: 120px;">
                        {% for entity, ent_url in top_entities %}
                            {% if entity.sensitivity == 0  %}
                            <div>
                                {{entity.text}}
                            </div>
                            {% elif entity.sensitivity == 1  %}
                            <div style="margin-right: 5px;" class="sensitivity1">
                                {{entity.text}}
                            </div>
                            {% elif entity.sensitivity == 2  %}
                            <div style="margin-right: 5px;" class="sensitivity2">
                                  {{entity.text}}
                            </div>
                            {% elif entity.sensitivity == 3  %}
                            <div style="margin-right: 5px;" class="sensitivity3">
                                {{entity.text}}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                    <a href="/view_document/{{document.documentID}}">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">search</i>
                        </button>
                    </a>
                    </td>

                    <td>
                    <a href="/delete_document/{{document.documentID}}" onclick="return confirm('Are you sure?')">
                        <button class="document-button-icon">
                            <i class="material-icons" style="font-size:15px;">delete</i>
                        </button>
                    </a>
                    </td>

                </tr>


            {% endfor %}
        </table>
        </div>
    </div>

</body>
</html>
