<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="sidenav">
        <div onclick="history.back()" style="width: 60%; margin: 0px auto; padding-top: 15px;">
        <div style="background-color: #4c0052; border-radius: 10px;">
            <i class="material-icons" style="font-size:100px; color: white">arrow_back</i>
            </div>
        </div>
    <div class="btn-group">
        <a class="button" href="/home/">Homepage</a>
        <a class="button" href="/upload_document/">Upload Documents</a>
        <a class="button" href="/view_document/">View Documents</a>
        <a class="button" href="/corpus_analytics">Corpus Analytics</a>
    </div>
</div>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>

<div class="main">
<h1>Upload Documents</h1>
<form enctype="multipart/form-data" action="add_document/" method="post" >{% csrf_token %}
    <div style="padding-left: 600px;"><input style="padding: 10px 30px 10px 30px;" class="document-button" type="submit"></div><br>

  <label class="myLabel">
      <img src="{% static '/upload_box.png' %}">
    <input type="file" name="file" multiple>
  </label>

</form>

</div>

</body>
</html>