<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <title>Sensitivity Detection Tool</title>
</head>
<body>

<div class="topnav">
<a href="/home/">Sensitivity Detection Tool</a>
</div>

<div class="sidenav">
<a style="padding-left:25px; padding-top:0px;" href="/upload/"><img src="{% static '/upload_button.png' %}" style="width:140px;height:95px;"></a>
</div>

<div class="main">
<h1>Upload Page</h1>
<form enctype="multipart/form-data" action="add_document/" method="post" >{% csrf_token %}
  <input type="file" name="file">
  <input type="submit">
</form>


</div>

</body>
</html>