<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <title>Sensitivity Detection Tool</title>
</head>
<body>
    <div class="topnav">
        <a class="title" href="">Sensitivity Detection Tool</a>
        <a href="/home/">Home</a>
        <a href="">Documents</a>
        <a href="">Entities</a>
        <a href="">Analytics</a>
        <a href="/upload_document/" class="upload-active" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
    </div>

    <div class="main">
        <h1>Upload Files</h1>

        <form action="/file-upload" class="dropzone"></form>


    </div>
</body>
</html>