<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=KoHo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sensitivity Detection Tool</title>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var scroll_position = localStorage.getItem('scrollpos');
            if (scroll_position) window.scrollTo(0, scroll_position);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
</head>

<body>
    <div class="topnav">
        <a class="title" href="">Sensitivity Detection Tool</a>
        <a href="/home">Home</a>
        <a href="/view_document/">Documents</a>
        <a href="/view_entity/">Entities</a>
        <a href="/corpus_analytics/">Analytics</a>

        <a style="width:200px; margin-left: 120px;" href="/user_study/"><div style="border-radius: 10px; background-image: linear-gradient(to top, #7b8fb0, #7b8fb0); padding: 2px 0px 2px 0px;">User Study</div></a>

        <a href="/upload_document/" class="upload" style="float: right;">Upload Files<i class="material-icons">upload</i></a>
    </div>

    <div class="main">
        <h1>User Study Questionnaire</h1>

        <div class="wrapper">
            <form action="/upload_answers/LOG_ID/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label>
                    <b>Questionnaire Information:</b>
                    The following user study will ask a number of questions regarding documents and entities within the existing database.<br>
                    Please complete the following questions in order, pressing 'Enter' on the corresponding button once an answer has been filled.<br>
                    You should not attempt to change or resubmit answers after the page has refreshed, so be sure before submitting an answer.<br>
                    Ensure you have completed a University of Glasgow research ethics form before beginning the user study.<br><br>
                    <b>Please enter your student matriculation number below and press 'Enter' to begin the user study questionnaire:</b><br>
                </label><br>
                <input type="text" id="LOG_ID" name="LOG_ID" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>


        <div class="wrapper">
            <form action="/upload_answers/Q1/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 1:</b> How many <b>instances</b> of entity ‘<b>ANC</b>’ are there in document <b>90CAPETOWN97</b>?</label><br><br>
                <input type="text" id="Q1" name="Q1" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q2/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 2:</b> How many <b>instances</b> of entity '<b>Sudan</b>' are there in document <b>90KHARTOUM11358</b>?</label><br><br>
                <input type="text" id="Q2" name="Q2" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q3/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 3:</b> How many <b>instances</b> of entities '<b>Sudan</b>' and '<b>Khartoum</b>' are there combined in document <b>89KHARTOUM12543</b>?</label><br><br>
                <input type="text" id="Q3" name="Q3" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q4/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 4:</b> How many <b>entity instances</b> directly relating to a <b>location in South Africa</b> are there in document <b>90JOHANNESBURG264</b>?</label><br><br>
                <input type="text" id="Q4" name="Q4" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q5/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 5:</b> How many <b>entity instances</b> directly relating to a <b>location in China</b> are there in document <b>89SHENYANG1301</b>?</label><br><br>
                <input type="text" id="Q5" name="Q5" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q6/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 6:</b> How many <b>entity instances</b> directly related to '<b>Sudan' or its locations</b> are there in document <b>90KHARTOUM11358</b>?</label><br><br>
                <input type="text" id="Q6" name="Q6" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q7/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 7:</b> How many <b>distinct entities</b> are there in document <b>89KAMPALA4953</b>?</label><br><br>
                <input type="text" id="Q7" name="Q7" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q8/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 8:</b> How many distinct <b>moderately sensitive</b> entities are there in document <b>91MOSCOW169</b>?</label><br><br>
                <input type="text" id="Q8" name="Q8" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q9/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 9:</b> How many distinct <b>highly sensitive</b> entities are there in document <b>89STATE403378</b>?</label><br><br>
                <input type="text" id="Q9" name="Q9" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q10/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 10:</b> How many <b>documents</b> have a filename containing <b>PANAMA</b>?</label><br><br>
                <input type="text" id="Q10" name="Q10" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q11/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 11:</b> How many <b>entities</b> have a name containing '<b>state</b>'?</label><br><br>
                <input type="text" id="Q11" name="Q11" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <form action="/upload_answers/Q12/"  method="POST" style="margin: 20px 0px 30px 20px;">
                {% csrf_token %}
                <label><b>Question 12:</b> How many <b>documents</b> contain the entity '<b>Beijing</b>'?</label><br><br>
                <input type="text" id="Q12" name="Q12" style="margin-left: 15px; border-radius: 5px; width: 40%; height: 20px;">
                <button class="document-button-icon" style="padding: 2px 4px 2px 4px;" type="submit">Enter</button>
            </form>
        </div>
        <br>

        <div class="wrapper">
            <div style="margin: 20px 0px 30px 20px;">
                <h2>Thank you! You're nearly there...</h2>
                <p>You have completed the quantitative section of the user study.
                    Please follow the link below to a
                Google <br> form questionnaire to complete the qualitative portion of the study and finalise your contribution!</p>
                <a style="margin-left: 100px; font-size: 20px;" href="https://forms.gle/1BMXBj6qYitaehA78">Google Form</a>
            </div>

        </div>
        <br>

    </div>
</body>
</html>
