html, body, .background {
    height: 100%;

}


body {
    font-family: "KoHo";
    margin: 0px;
    color: #040742;
    background-image: url('background-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 80px;
}

.topnav {
  height: 60px;
  background-color: #859ec7;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  position: fixed;
  top: 0;
}

.topnav a {
  width: 80px;
  font-weight: bold;
  font-size: large;
  float: left;
  background-color: #859ec7;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.topnav a:hover {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
  margin-top: 3px;
}

.topnav a.active {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
  margin-top: 3px;
}

.topnav a.active:hover {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
}

.topnav a.upload {
    width: 150px;
    margin-left: 100px;
}

.topnav a.upload-active {
    width: 150px;
    margin-left: 100px;
    margin-top: 3px;
    background-image: linear-gradient(to top, #7b8fb0, #859ec7);
    transition: 1s ease;
}

.topnav a.upload-active:hover {
    margin-top: 3px;
}

.topnav a.upload-active .material-icons {
    padding-left: 10px;
    font-size: large;
}

.topnav a.title {
    width: 300px;
    font-size: large;
}

.topnav a.title:hover {
    width: 300px;
    background-color: #859ec7;
    background-image: linear-gradient(to top, #859ec7, #859ec7);
    margin-top: 0px;
}

.topnav .upload .material-icons {
    padding-left: 10px;
    font-size: large;
}

box {
    background-color: #EBEBEB;
    overflow:hidden;
    height: 100px;
}

.main {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
    height: 100%;
}

.list-header {
    font-size: x-large;
    font-weight: bold;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.three-ents {
    transition: 0.3s ease;
}


.sensitivity3 {
    display: inline;
    font-weight: bold;
    color: #b50000 !important;
    background-color: #ffa3b3;
    border-radius: 7.5px;
    transition: 0.3s;
}

.sensitivity2 {
    display:inline;
    font-weight: bold;
    color:#825500 !important;
    background-color: #ffdda3;
    border-radius: 7.5px;
    transition: 0.3s;
}

.sensitivity1 {
    display:inline;
    font-weight: bold;
    color:#255c00 !important;
    background-color: #afffa3;
    border-radius: 7.5px;
    transition: 0.3s;
}

.document-button-icon {
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    transition-duration: 0.3s;
    font-family: "KoHo";
    border-radius: 5px;
    border: 2px solid gray;
    white-space: nowrap;
    overflow: hidden;
}

.document-button-icon:hover {
    background-color: white
}

tr:nth-child(even) {
    background-color: white;
}

.three-ents:not(:first-child):hover {
    font-size:13pt;
}

.wrapper {
    background-image: linear-gradient(to right, #e8e8e8, white);
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    z-index: 0;
}

.tooltip {
    font-size: large;
    margin-left: 60px;
    margin-right: 40px;
    padding: 30px 0px 20px 0px;

}


.tooltip>div:nth-child(even) {
    color: #000000;
    font-weight:bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 570px;
    height: 526px;
    left: 798px;
    top: 145px;
    padding-bottom: 10px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;

}

.tooltip>div:nth-child(even):hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.tooltip .sensitivity1:hover {
    padding: 2px 0px 2px 0px;
    font-size: 19px;
}

.tooltip .sensitivity2:hover {
    padding: 2px 0px 2px 0px;
    font-size: 19px;
}

.tooltip .sensitivity3:hover {
    padding: 2px 0px 2px 0px;
    font-size: 19px;
}

canvas {
  margin: auto;
  left: 0;
  right: 0;
}




