html, body, .background {
    height: 100%;

}


body {
    font-family: "KoHo";
    margin: 60px 0px 0px 0px;
    color: #040742;
    background-image: url('background-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 80px;
}

.topnav {
  height: 60px;
  background-color: #859ec7;
  width: 100%;
  overflow: hidden;
  z-index: 6;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px 0px grey;
}

.topnav a {
  width: 80px;
  font-weight: bold;
  font-size: large;
  float: left;
  background-color: #859ec7;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.topnav a:hover {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
  margin-top: 3px;
}

.topnav a.active {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
  margin-top: 3px;
}

.topnav a.active:hover {
  background-image: linear-gradient(to top, #7b8fb0, #859ec7);
}

.topnav a.upload {
    width: 150px;
    margin-left: 100px;
}

.topnav a.upload-active {
    width: 150px;
    margin-left: 100px;
    margin-top: 3px;
    background-image: linear-gradient(to top, #7b8fb0, #859ec7);
    transition: 1s ease;
}

.topnav a.upload-active:hover {
    margin-top: 3px;
}

.topnav a.upload-active .material-icons {
    padding-left: 10px;
    font-size: large;
}

.topnav a.title {
    width: 300px;
    font-size: large;
}

.topnav a.title:hover {
    width: 300px;
    background-color: #859ec7;
    background-image: linear-gradient(to top, #859ec7, #859ec7);
    margin-top: 0px;
}

.topnav .upload .material-icons {
    padding-left: 10px;
    font-size: large;
}

box {
    background-color: #EBEBEB;
    overflow:hidden;
    height: 100px;
}

.main {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
    height: 100%;
}

.list-header {
    font-size: x-large;
    font-weight: bold;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.three-ents {
    transition: 0.3s ease;
}


.sensitivity3 {
    display: inline;
    font-weight: bold;
    color: #b50000 !important;
    background-image: linear-gradient(to bottom, #ffa3b3, #ff5e7b);
    border-radius: 7.5px;
    transition: 0.3s;
}

.sensitivity2 {
    display:inline;
    font-weight: bold;
    color:#825500 !important;
    background-image: linear-gradient(to bottom, #ffdda3, #ffc86b);
    border-radius: 7.5px;
    transition: 0.3s;
}

.sensitivity1 {
    display:inline;
    font-weight: bold;
    color:#255c00 !important;
    background-image: linear-gradient(to bottom, #afffa3, #78ff63);
    border-radius: 7.5px;
    transition: 0.3s;
}

.document-button-icon {
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    transition-duration: 0.3s;
    font-family: "KoHo";
    border-radius: 5px;
    border: 2px solid gray;
    white-space: nowrap;
    overflow: hidden;
}

.document-button-icon:hover {
    background-color: white
}

tr:nth-child(even) {
    background-color: white;
}

.three-ents:not(:first-child):hover {
    font-size:13pt;
}

.wrapper {
    background-image: linear-gradient(to right, #e8e8e8, white);
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    z-index: 0;
    box-shadow: 0px 5px 10px 0px grey;
}

.tooltip {
    font-size: large;
    margin-left: 60px;
    margin-right: 40px;
    padding: 30px 0px 20px 0px;
}


.tooltip>div:nth-child(even) {
    color: #000000;
    font-weight:bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 453px;
    height: 530px;
    left: 797px;
    top: 143px;
    padding-bottom: 10px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px 60px 0px 60px;
}

.tooltip>div:nth-child(even):hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

canvas {
  margin: auto;
  left: 0;
  right: 0;
}

.filelabel {
    display: block;
    width:100%;
    background-image: linear-gradient(to top, #d6d6d6, #8c8c8c);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 140px 0px 140px 0px;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 5px 10px 20px 0px #8c8c8c inset;
}

.search {
    float:right;
    border-radius: 5px;
    padding: 3px 20px 3px 3px;
    width: 350px;
    font-size: large;
    font-family: 'KoHo';
    margin-right: 70px;
    box-shadow: 0px 3px 2px 0px grey;
}

li:nth-child(even) {
    background-color: white;
    border-radius: 5px;
}

.wrapper-analytics {
    background-image: linear-gradient(to right, #e8e8e8, white);
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    z-index: 0;
    box-shadow: 0px 5px 10px 0px grey;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    height: 70%;
}

.wrapper-analytics:nth-child(even) {
    width: 70%;
    float: left;

}

.wrapper-analytics:nth-child(odd) {
    width: 20%;
    float: right;
}


